.dashboard {
    // h1 {
    //     display: flex;
    //     justify-content: center;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    font-family: sans-serif;
    // }
    .doughnut-wrapper {
        display: flex;
        justify-content: center;
    }
}
