.dashboard {
    // h1 {
    //     display: flex;
    //     justify-content: center;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    font-family: sans-serif;
    // }
    .doughnut-wrapper {
        display: flex;
        justify-content: center;
    }

    .display-data {
        line-height: 1.4;
        margin-top: 8%;
        font-family: sans-serif;
        text-align: center;
        // display: inline-block;
        background-color: blanchedalmond;
        border: 4px solid black;
    }
}

// border: 3px solid blue;
//     display: list-item;
//     font-family: sans-serif;
//     background-color: bisque;
//     margin-top: 100px;
//     line-height: 1.3;
//     color: crimson;
