@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

.quiz {
    background-color: #ccc;
    * {
        font-family: "Sora", sans-serif;
    }
    code {
        font-family: monospace;
        white-space: break-spaces;
    }
    h1 {
        text-align: center;
    }

    .display-code {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2 {
        border: 2px solid black;
    }
    .current-question {
        margin-bottom: -1rem;
        bottom: 0;
        right: 0;
        margin-right: 1rem;
    }
}
