@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

.review-modal {
    .modal-dialog {
        position: static;
        background-color: pink;
    }

    * {
        font-family: "Sora", sans-serif;
    }
    @import "~bootstrap/scss/bootstrap";

    .modal-content {
        position: absolute;
        // margin-top: 3rem;
        height: 570px;
        overflow: auto;
        margin-bottom: 25rem;
    }

    #review-question {
        height: 10vh;
    }

    @media (max-width: 1000px) {
        .modal-content {
            margin-bottom: 39rem;
        }
    }

    .extra-info {
        cursor: pointer;
    }
    .extra-info:hover {
        transform: scale(1.3);
    }
    .scores {
        font-family: monospace;
        color: blue;
    }
}
